:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --grid-bg: #333;
  --cell-border: #ccc;
  --btn-color: #4CAF50;
}

[data-theme="dark"] {
  --bg-color: #3B3A3D;
  --text-color: #f0f0f0;
  --grid-bg: #222;
  --cell-border: #555;
  --btn-color: #7AA899;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    background:linear-gradient(200deg,#a8d7e0,#213b40); /* Цвета градиента */
    background-size:500% 500%;
    -webkit-animation:ServiceAnimation 10s ease infinite;
    -moz-animation:ServiceAnimation 10s ease infinite;
    -o-animation:ServiceAnimation 10s ease infinite;
    animation:ServiceAnimation 10s ease infinite;
}
@-webkit-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@-moz-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@-o-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}

.container {
    text-align: center;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 0spx;
    margin: 15px auto;
    background: white;
    width: 100%;
    aspect-ratio: 1/1;
    border-collapse: collapse; /* Убирает двойные границы */
    border-spacing: 0;
}

.sudoku-grid input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    position: relative;
    outline: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0 !important;
    background: white;
}

.rig {
    border-right: 2px solid #333 !important;
}

.bot {
    border-bottom: 2px solid #333 !important;
}

.bot.rig {
    border-right: 2px solid #333 !important;
    border-bottom: 2px solid #333 !important;
}

.buttons {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background: var(--btn-color);
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}
#theme-toggle:hover {
    background: none;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

 .icon-dark { display: none; }
[data-theme="dark"] .icon-light { display: none; }
[data-theme="dark"] .icon-dark { display: inline; }

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 100;
}

